<div class="card bg-dark text-white">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <form (ngSubmit)="agregarPersona(f)" #f="ngForm">

      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="persona.email" required>
      </div>

      <div>
        <label for="area">Área:</label>
        <select id="area" name="area" [(ngModel)]="persona.area" required>
          <option *ngFor="let area of areas" [value]="area.id">{{ area.nombre }}</option>
        </select>
      </div>

      <button type="submit">Registrar</button>
    </form>

  </div>
</div>